[submodule "src/dtu_app"]
	path = src/dtu_app
	url = https://github.com/alexeyhimself/dtu_app.git

[submodule "src/dtu_app/src/customer/dtu_sdk_js"]
	path = src/dtu_app/src/customer/dtu_sdk_js
	url = https://github.com/alexeyhimself/dtu_sdk_js.git
